[Unit]
Description=Alarm controller service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="PYTHONPATH=/opt/alarm"
ExecStart=/usr/bin/alarm-controller
